<!DOCTYPE html>
<html>
<head>
    <title>用户登录.html</title>

    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="application/json; charset=UTF-8">

    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

</head>

<body>
<form name="user" action="/admin/login" method="post">
    <input type="text" name="username"/>

    <input type="password" name="password"/>


    <input type="submit" value="Login"/>
</form>
</body>
</html>